*.suo
*.user
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
.idea/
node_modules/
.DS_Store
appsettings.Development.json
BaseInfo.txt
src/Services/OneSeb/OneSeb.App/appstorage/
CICD/Kubernetes/environments/stg/secrets.enc.tmp.yaml
